<app-menu-navbar></app-menu-navbar>
<div class="container">
    <h2>¿Quiénes somos?</h2>
    <div class="parrafos">
        <p>Vandal nació el 30 de agosto de 1997 y es la segunda web de videojuegos más antigua en español, y la primera más antigua dedicada a las consolas. La web nació como proyecto personal y amateur de un adolescente de 15 años, pero un año después ya estaba consolidada como una de las principales fuentes de información de videojuegos de España. A lo largo de su historia Vandal ha pasado por diferentes diseños e hitos. Los más importantes han sido el rediseño completo de 2003, que automatizó por completo la web, el lanzamiento del pionero sistema de blogs en 2006, la asociación con el diario 20 Minutos en 2010 y la asociación con el diario El Español a finales de 2017. Actualmente la empresa Vandal Networks SL que edita Vandal está participada mayoritariamente por Pablo Grandío, fundador y director de la web, a través de su sociedad Forzáns Inversións, y minoritariamente por El León de El Español Publicaciones S.A., editora del diario El Español.</p>

        <p>Nuestro objetivo es ser la principal fuente de información de videojuegos en lengua española. Nuestros valores son la independencia editorial, el rigor informativo, el respeto a las diferencias y la inclusión de todos los públicos en el sector del videojuego. Consideramos que el videojuego es un entretenimiento interactivo que combina arte, cultura y tecnología, y creemos en su potencial para entretener, contar historias, divulgar conocimiento y convertirse en un elemento competitivo a través de los eSports.</p>
    </div>
</div>


