@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.container{
    height: 79vh; 
    border: 1px solid #dddbdb;
    background: #e9e7e7;
    border-radius: 16px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.tabla{
    width: 100%;
    display: flex;
    justify-content: center;
}

h2{
    text-align: center;
}

tr, th, td{
    text-align: center;
    padding: 8px 24px;
    border: 1px solid black;
}

button{
    margin: 16px;
}

.card{
    display: flex;
}