<div class="container">
    <button style="cursor:pointer;" routerLink="/videojuegos">Back</button>
    <div class="tabla">
        <div class="Listado">
            <h2>Detalle del videojuego:</h2>
            <div class="card">
              <img src="{{imagen}}">
              <table>
                    <tr>
                      <th>ID</th>
                      <td>{{identificador}}</td>
                    </tr>
                    <tr>
                      <th>NOMBRE</th>
                      <td>{{titulo}}</td>
                    </tr>
                    <tr>
                      <th>COMPAÑÍA</th>
                      <td>{{compania}}</td>
                    </tr>
                    <tr>
                      <th>VALORACIÓN MEDIA</th>
                      <td>{{valorMedio}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
